<div id="sidebar">
    <div id="category" module="Layout_category">
        <!--@css(/css/module/layout/category.css)-->
        <!--@js(/js/module/layout/category.js)-->
        <div class="position">
            <ul>
                <li><a href="{$link_product_list}">{$name_or_img_tag}</a></li>
                <li><a href="{$link_product_list}">{$name_or_img_tag}</a></li>
                <li><a href="{$link_product_list}">{$name_or_img_tag}</a></li>
            </ul>
        </div>
    </div>

    <div module="Layout_BoardInfo">
        <!--@css(/css/module/layout/boardInfo.css)-->
        <h2>전체게시판</h2>
        <ul>
            <li><a href="{$link_board_list}">{$board_name}</a> {$board_adult_icon}</li>
            <li><a href="{$link_board_list}">{$board_name}</a> {$board_adult_icon}</li>
        </ul>
    </div>

    <div module="Layout_SearchSide">
        <!--@css(/css/module/layout/searchSide.css)-->
        <!--
            $search_page = /product/search.html
            $product_page = /product/detail.html
        -->
        <h2>상품검색</h2>
        <fieldset>
            <legend>검색</legend>
            {$form.keyword}<input type="image" src="//img.echosting.cafe24.com/skin/base/layout/btn_search.gif" alt="검색" onclick="{$action_search_submit}" /><ul class="autoDrop" id="{$search_auto_id}"></ul></fieldset>
        <div class="bestKeyword {$hot_keyword_display|display}">
            <a href="{$hot_keyword_url}">{$hot_keyword_name}</a>
            <a href="{$hot_keyword_url}">{$hot_keyword_name}</a>
        </div>
        <p class="button"><a href="/product/search.html" class="btnLink">상품상세검색</a></p>
    </div>

    <div module="Layout_project">
        <!--@css(/css/module/layout/project.css)-->
        <!--@js(/js/rotate.js)-->
        <!--@js(/js/module/layout/project.js)-->
        <h2>쇼핑기획전</h2>
        <ul>
            <li><a href="{$link_product_project}"><img src="{$category_image}" alt="" /></a></li>
            <li><a href="{$link_product_project}"><img src="{$category_image}" alt="" /></a></li>
        </ul>
        <div class="control">
            <button type="button" class="prev" id="prevButton-project"><span>이전</span></button>
            <button type="button" class="stop" id="stopButton-project"><span>멈춤</span></button>
            <button type="button" class="play" id="playButton-project"><span>재생</span></button>
            <button type="button" class="next" id="nextButton-project"><span>다음</span></button>
        </div>
    </div>

    <div module="Layout_login">
        <!--@css(/css/module/layout/login.css)-->
        <h2>회원로그인</h2>
        <fieldset>
            <legend>회원로그인</legend>
            <p class="check">
                <span><label for="member_id" class="ePlaceholder" title="{$login_id_type_text}">{$form.member_id}</label></span>
                <span><label for="member_passwd" class="ePlaceholder" title="비밀번호">{$form.member_passwd}</label></span>
            </p>
            <p class="security">
                {$form.check_save_id}
                {$form.check_secret_connect}
            </p>
            <div class="ec-base-button gColumn">
                <a href="#none" onclick="{$action_func_login}" class="btnSubmit sizeS">로그인</a>
                <a href="/member/join.html" class="btnNormal sizeS">회원가입</a>
            </div>
        </fieldset>
        <ul class="find">
            <li><a href="/member/id/find_id.html">아이디찾기</a></li>
            <li><a href="/member/passwd/find_passwd_info.html">비밀번호찾기</a></li>
        </ul>
    </div>

    <div module="Layout_Info">
        <!--@css(/css/module/layout/info.css)-->
        <h2>고객센터</h2>
        <ul>
            <li class="tel"><strong>Telephone</strong><span>{$phone}</span></li>
            <li><strong>Fax</strong><span>{$fax}</span></li>
            <li><strong>Time</strong><span>{$runtime}</span></li>
        </ul>
    </div>

    <div module="Layout_Myshop">
        <!--@css(/css/module/layout/myshop.css)-->
        <h2>마이쇼핑</h2>
        <ul>
            <li class="order"><a href="/myshop/order/list.html">주문내역조회</a></li>
            <li class="mileage"><a href="/myshop/mileage/historyList.html">적립금</a></li>
            <li class="member"><a href="/member/modify.html">회원정보</a></li>
            <li class="consult {$consult_display|display}"><a href="/board/consult/list.html">1:1 맞춤상담</a></li>
            <li class="wish"><a href="/myshop/wish_list.html">관심상품</a></li>
        </ul>
    </div>

    <div module="Layout_Poll">
        <!--@css(/css/module/layout/poll.css)-->
        <h2>온라인 설문조사</h2>
        <h3 title="질문">{$poll_title}</h3>
        <fieldset>
            <legend>설문조사 항목</legend>
            <ul>
                <li>{$poll} {$poll_name}</li>
                <li>{$poll} {$poll_name}</li>
                <li>{$poll} {$poll_name}</li>
                <li>{$poll} {$poll_name}</li>
            </ul>
            <p class="button">
                <a href="#none" onclick="{$action_poll_result}"  class="btnLink">결과보기</a>
                <a href="#none" onclick="{$action_poll_submit}"  class="btnLink">투표하기</a>
            </p>
        </fieldset>
    </div>

    <div class="banner">
        <p module="Layout_giftBanner"><a href="/order/gift_list.html" class="giftBanner">고객사은품 안내</a></p>
        <p module="Layout_opdiaryBanner"><a href="/board/opdiary/list.html" class="opdiaryBanner">운영일지</a></p>
        <p module="Layout_sosBanner"><a href="/board/urgency/urgency.html" class="sosBanner">긴급 문의</a></p>
        <p module="Layout_attendBanner">
            <!--
                $stamp_type_url = /attend/stamp.html
                $comment_type_url = /attend/comment.html
            -->
            <a href="{$attend_url}" class="attendBanner">출석체크</a>
        </p>
        <p module="Layout_couponzoneBanner"><a href="/coupon/coupon_zone.html" class="couponzoneBanner">알뜰살뜰 쿠폰존</a></p>
        <p module="Layout_calendarBanner"><a href="{$calendar_view_page}" class="calendarBanner">캘린더 게시판</a></p>
    </div>
</div>